form{
    text-align: center;
    border: 3px solid lightblue;
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 80px;
    padding-top: 40px;
    background-color: lavender;
    display: inline-block;
}

input{
    color: blue;
    border: 2px solid lightblue;
}
body{
    background-color: aquamarine;
}
th, td,tr{
    border: 2px solid lightblue;
    color: lightseagreen;
    width: 700px;
}
table{
    display: inline-block;
    margin-left: 100px;
    background-color: lavender;
    border: 2px solid lightblue;
    width: 700px;
}
th{
    color: lightseagreen;
}